#header {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
	font-size: 30px;
}

#general_desc {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
	font-size: 22px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 150%;
}

#map_desc {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
	font-size: 22px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 150%;
}

#choropleth_map {
	display: flex;
	justify-content: center;
	text-align: center;
}

#area_desc {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
	font-size: 22px;
	margin-bottom: 10px;
	margin-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 150%;
}

.pure-u-1-2 {
	display: flex;
	justify-content: center;
}

.pure-u-1 {
	display: flex;
	justify-content: center;
}

#subheader {
	width: 100%;
}

#sub1 {
	width: 35%;
	font-size: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#sub2 {
	width: 30%;
	font-size: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#sub3 {
	width: 35%;
	font-size: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#scale {
	display: flex;
	justify-content: center;
	margin-bottom: 75px;
}

#armed_desc {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: right;
	font-size: 22px;
	margin-bottom: 75px;
	padding-right: 20px;
	line-height: 150%;
	margin-top: 20px;
}

#co2_desc {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: right;
	font-size: 22px;
	margin-bottom: 75px;
	margin-top: 50px;
	padding-right: 20px;
	padding-top: 50px;
	line-height: 150%;
}

#donut_plot {
	margin-bottom: 75px;
}

#un_desc {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: left;
	font-size: 22px;
	margin-top: 50px;
	padding-left: 20px;
	padding-top: 50px;
	margin-bottom: 75px;
	line-height: 150%;
}

#rate_desc {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 22px;
	margin-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	line-height: 150%;
}

#matrix_plot {
	width: 100%;
	margin-bottom: 75px;
	display: flex;
	justify-content: center;
}

#gross_desc {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
	font-size: 22px;
	padding-left: 20px;
	padding-top: 50px;
	margin-bottom: 75px;
	line-height: 150%;
}

#area_chart {
	display: flex;
	justify-content: center;
	margin-bottom: 75px;
}

#hist_heatmap {
	display: flex;
	justify-content: center;
	margin-bottom: 75px;
}

#pop_desc {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 22px;
	margin-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
	line-height: 150%;
}

#parallel_plot {
	display: flex;
	justify-content: center;
	margin-bottom: 75px;
}

#map_highest {
	color: #FEBA81;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 26px;
}

#map_lowest {
	color: #231151;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 26px;
}

#gpee_lowest {
	color: #721F81;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 26px;
}

#gpee_highest {
	color: #F1605D;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 26px;
}

#gtee_lowest {
	color: #F1605D;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 26px;
}

#gtee_highest {
	color: #9F2F7F;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 26px;
}

#agri_lowest {
	color: #2C1160;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 26px;
}

#agri_highest {
	color: #FEAF78;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 26px;
}

#for_lowest {
	color: #2C1160;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 26px;
}

#for_highest {
	color: #FEAF78;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 26px;
}

#total_lowest {
	color: #2C1160;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 26px;
}

#total_highest {
	color: #FEAF78;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 26px;
}

#armed_lowest {
	color: #07061A;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 26px;
}

#armed_highest {
	color: #5F187F;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 26px;
}