#header {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
	font-size: 30px;
}

#general_desc {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
	font-size: 22px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

#map_desc {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
	font-size: 22px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

#choropleth_map {
	display: flex;
	justify-content: center;
	text-align: center;
}

#area_desc {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
	font-size: 22px;
	margin-bottom: 10px;
	margin-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

.pure-u-1-2 {
	display: flex;
	justify-content: center;
}

.pure-u-1 {
	display: flex;
	justify-content: center;
}

#subheader {
	width: 100%;
}

#sub1 {
	width: 25%;
	font-size: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#sub2 {
	width: 30%;
	font-size: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#sub3 {
	width: 45%;
	font-size: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#scale {
	display: flex;
	justify-content: center;
	margin-bottom: 75px;
}

#armed_desc {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: right;
	font-size: 22px;
	margin-bottom: 75px;
	margin-top: 50px;
	padding-right: 20px;
	padding-top: 50px;
}

#co2_desc {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: right;
	font-size: 22px;
	margin-bottom: 75px;
	margin-top: 50px;
	padding-right: 20px;
	padding-top: 50px;
}

#donut_plot {
	margin-bottom: 75px;
}

#un_desc {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: left;
	font-size: 22px;
	margin-top: 50px;
	padding-left: 20px;
	padding-top: 50px;
	margin-bottom: 75px;
}

#rate_desc {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 22px;
	margin-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

#matrix_plot {
	width: 100%;
	margin-bottom: 75px;
	display: flex;
	justify-content: center;
}

#gross_desc {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
	font-size: 22px;
	padding-left: 20px;
	padding-top: 50px;
	margin-bottom: 75px;
}

#area_chart {
	display: flex;
	justify-content: center;
	margin-bottom: 75px;
}

#hist_heatmap {
	display: flex;
	justify-content: center;
	margin-bottom: 75px;
}

#pop_desc {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 22px;
	margin-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
}

#parallel_plot {
	display: flex;
	justify-content: center;
	margin-bottom: 75px;
}

#map_highest {
	color: #231151;
	font-family: 'Hammersmith One';
	font-weight: bold;
	font-size: 28px;
}

#map_lowest {
	color: #FEBA81;
	font-family: 'Hammersmith One';
	font-weight: bold;
	font-size: 28px;
}